body{
    font-size: 14px;
    box-sizing: border-box;
}
.van-row{
    border-bottom: 1px solid #f5f5f5;
    line-height: 40px;
}
.van-col{
    padding-left: 10px;
    
}
.xuanzhe{
    font-size: 13px;
    line-height: 40px;
    height: 40px;
}
.van-radio-group{
    margin-top: 10px;
    float: left;
    width: 60%;
}
.van-radio{
    float: left;
    margin-left: 10px;
}
.fanzhuan{
    /* float: left; */
    text-align: center;
}
.fanzhuan_a{
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-left: 10px;
}
.nei{
   position: relative;
    height: 300px;
    background: #f5f5f5;
    overflow: hidden;
    width: 100%;
}
.qie_a{
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 99;
    margin-top: -15px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(31,45,61,0.3);
}
.qie_b{
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 99;
    margin-top: -15px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(31,45,61,0.3);
}
.pilian{
    text-align: center;
    line-height: 30px;
    border-top: 1px solid #f5f5f5;
    margin-top: 10px;
    color: #333;
}
.sendmsg {
    margin: auto;
    width: 92%;
    display: block;

    border:1px solid #ebedf0;
    height: 60px;
    /* line-height: 30px; */
    font-size: 12px;
    -webkit-appearance:none;
    resize: none;
    /* margin: 0 10px; */
   /* margin-left: 2%; */
    outline: none;
}
.pei_name{
    font-size: 12px;
    padding: 0 10px;
}
.jiexi{
    overflow: hidden;
    font-size: 12px;
    padding: 0 10px;
    margin: 3px 0;
    height: 25px;
}
.jjxx{
    padding: 2px 20px;
    border: 1px solid #0d906e;
    color: #0d906e;
    font-weight: bold;
    box-sizing: border-box;
}

.kuang{
    /* width: 100%; */
    margin: 0 10px;
    height: 180px;
    border: 1px solid #999;
}
.img{
    width: 100%;
    margin: auto;
    display: block;
    height: 100%;
    /* margin: 0 10px; */
}
.sumit{
    padding-top: 10px;
    border-top: 1px solid #f5f5f5;
    width: 100%;
    /* padding: 10px; */
    position: fixed;
    height: 40px;
    background:#fff;
    z-index: 9;
    bottom: 0;
}
.van-button{
    width: 120px;
    margin: auto;
    display: block;
}
.pinch-zoom{
    width: 100%;
    height: 300px;
}
.deng {
    border: 1px solid #666;
  
    margin-top: 5px;
    min-height: 250px;
  }
  .ddv {
      border-bottom: 1px solid #999;
      border-right: 1px solid #999;
  }
  .ddv:nth-child(3n+3) {
    border-right:none;
}
  .cs {
      text-align: left;
      color: #333;
    /* //   margin-left: 3px; */
    font-size: 12px;
    line-height: 25px;
    min-height: 25px;
  }
  /* 弹窗 */
  .van-popup{
    height: 160px;
    width: 65%;
}
.chenggong{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #6A5ACD;
}
.duilei{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.xuanzetui{
    margin-top: 30px;
    text-align: center;
}
.bbt{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 10px;
    
}
.tuichu{
    color: #07c160;
    border: 1px solid #07c160;
}
.chuli{
    color: red;
    border: 1px solid red;
}
