:host {
    width: 100%;
  }
  .panel-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    z-index: 999;
  }
  .vehicle-panel {
      border-top: 1px solid #999;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    background: #fff;
    padding-bottom: 0.68rem;
  }
  .jik {
    width: 0.6rem;
    height: 0.8rem;
  }
  
  .vehicle-panel-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .vehicle-panel-row-last {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .vehicle-panel-row-button {
    background-color: #fff;
    margin: 5px;
    width: 30px;
    height:30px;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
  }
  .vehicle-panel-row-button-number {
    background-color: #eee;
  }
  .vehicle-panel-row-button-last {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .vehicle-hover {
    background-color: #ccc;
  }
  .vehicle-panel-row-button-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .vehicle-en-button-delete {
    width: 20px;
    height: 20px;
  }
  .vehicle-panel-ok {
    background-color: #6a7cff;
    color: #fff;
    width: 50px;
    height: 30px;
    line-height: 30px;
  }
  .topItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    /* background: #f0f0f0; */
  }
  .exit {
    margin-right: 5px;
    color: #6a7cff;
    font-size: 15px;
    display: block;
    line-height: 0.5rem;
  }
  .check {
    margin-left: 5px;
    color: #6a7cff;
    font-size: 15px;
    display: block;
    line-height: 0.5rem;
  }