<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>活动核销</title>
    <!-- 公共库 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css">
    <script src="https://cdn.bootcss.com/axios/0.18.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <!-- <script src="../js/area.js"></script> -->
    <script src="../js/api.js"></script>
    <link rel="stylesheet" href="../css/baseStyle.css" />
    <script src="../js/http.js"></script>
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
</head>
<style>
    [v-cloak] {
        display: none;
    }

    .h1 {
        text-align: center;
        /* font-weight: bold; */
        font-size: 21px;
    }

    .zhong {
        /* text-align: center; */
        padding: 20px 0;
        position: relative;
        margin-top: 50px;
        padding-left: 30%;
    }

    .anniu {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: auto;
    }

    .hexiao {
        position: absolute;
        top: 0;
        height: 95px;
        margin-left: 30px;
        z-index: 99;
    }

    .an2 {
        width: 100%;
        float: left;
    }

    .p_15 {
        padding-left: 15px;
        padding-right: 15px
    }

    .taocan {

        text-align: center;
        padding: 5px 0;
        border: 1px solid #333;
        position: relative;
        float: left;
        margin-left: 4%;
        height: 20px;
        line-height: 19px;
        width: 20%;
    }

    .biao {
        color: rgb(13, 144, 110);
        min-width: 19px;
        padding: 5px 0;
        line-height: 20px;
        font-weight: bold;
        margin-right: 5px;
    }

    .yibanli {
        margin: auto;
        margin-top: 20px;
        width: 90px;
        height: 90px;
        border: 1px solid red;
        border-radius: 45px;
        text-align: center;
        line-height: 90px;
        color: red;
    }

    .active {
        color: #fff;
        border: 1px solid rgb(13, 144, 110);
        background: rgb(13, 144, 110);
    }
</style>

<body>
    <!--  -->
    <div id="app" style="background: #ffffff;height: 100%;" v-cloak>
        <!-- <van-nav-bar title="车型配件匹配"  :fixed="true" :z-index="999"></van-nav-bar> -->
        <!-- style="padding-top:86px;" -->
        <!-- token：{{token}} -->
        <div style="overflow: hidden;background: #fff;padding-top:40px">
            <div class="h1">{{list.activityName}}</div>
            <div class="zhong">
                <div>车牌号：<span style="font-weight: bold;">{{list.carNo}}</span></div>
                <div style="margin-top: 20px;">手机号：{{list.phone}}</div>
                <!-- <img class="hexiao" v-if="list.offType == 1" src="../img/hexiao.png" alt=""> -->
            </div>
        </div>
        <div class="p_15">选择套餐</div>
        <div class="p_15" style="overflow: hidden;margin-top: 20px;">
            <div class="taocan" @click="orderTab(item)" v-for="(item,idx) in taocanlist"
                :class="item==comboType?'active':''" :key="idx">
                {{item}}</div>
        </div>
        <div class="p_15" style="margin-top: 20px;">选择用量</div>
        <div class="p_15" style="overflow: hidden;margin-top: 20px;">
            <div class="left biao">1L</div>
            <div class="taocan" style="margin-left: 1%; width: 10%;" @click="orderTabYL(item)"
                :class="item==oneLSize?'active':''" v-for="(item,idx) in lianglist" :key="idx">{{item}}
            </div>
        </div>
        <div class="p_15" style="overflow: hidden;margin-top: 20px;">
            <div class="left biao">0.5L</div>
            <div class="taocan" @click="orderTabwL(item)" :class="halfLSize==1?'active':''"
                style="margin-left: 1%;padding: 5px 10px;width: 10%;" v-for="(item,idx) in liang" :key="idx">{{item}}
            </div>
        </div>
        <div class="p_15" style="margin-top: 20px;">选择次数</div>
        <div class="p_15" style="overflow: hidden;margin-top: 20px;">
            <div class="left biao"></div>
            <div class="taocan" @click="orderTabcs(item)" :class="item==buyCount?'active':''"
                style="margin-left: 1%; width: 10%;" v-for="(item,idx) in cishulist" :key="idx">{{item}}
            </div>
        </div>

        <div class="yibanli" v-if="blisok">
            已办理
        </div>
        <div style="height: 60px"></div>
        <div class="anniu">
            <van-button class="an2" type="primary" @click="houhui" v-if="blisok">继续扫描</van-button>
            <van-button class="an2" type="danger" @click="tijiao" v-else>确定办理</van-button>
        </div>

    </div>
</body>
<script>
    // // const baseURL = "http://47.96.248.209:8888"//测试
    // const baseURL = "http://47.99.212.29:8888"//正式

    var vue1 = new Vue({
        el: "#app",
        data() {

            return {
                list: JSON.parse(sessionStorage.getItem("banli")),//
                taocanlist: ['钻霸', '金霸', '银霸', '铜霸'],
                lianglist: ['1', '2', '3', '4', '5', '6', '7', '8'],
                liang: ['1'],
                cishulist: ['1', '2', '3', '4', '5', '6', '7', '8'],
                comboType: null,//套餐
                oneLSize: null,//1l用量
                halfLSize: 0,//0.5l用量
                buyCount: null,//次数
                orderNumber: '',
                active: 1,
                count: '',
                token: '',
                blisok: false,
                isok: false,
            }
        },
        created() {
            this.appSource()
            function getSearchString(key, Url) {
                var str = Url;
                str = str.substring(1, str.length); // 获取URL中?之后的字符（去掉第一位的问号）
                // 以&分隔字符串，获得类似name=xiaoli这样的元素数组
                var arr = str.split("&");
                var obj = new Object();
                // 将每一个数组元素以=分隔并赋给obj对象
                for (var i = 0; i < arr.length; i++) {
                    var tmp_arr = arr[i].split("=");
                    obj[decodeURIComponent(tmp_arr[0])] = decodeURIComponent(tmp_arr[1]);
                }
                return obj[key];
            }
            var search = window.location.search;
            this.search = window.location.href
            this.orderNumber = getSearchString('orderNumber', search); //结果：18
            // this.token = window.androidjs.getLocalData("getToken");
            // console.log(this.askPricePartIds)

            this.namelist()
        },
        mounted() {
            window.addEventListener('pageshow', function () {
                if (this.isPageHide) {
                    // window.location.reload();
                    history.go(0)
                }
            });
            window.addEventListener('pagehide', function () {
                this.isPageHide = true;

            });
        },
        methods: {
            appSource() {
                const u = navigator.userAgent, app = navigator.appVersion;
                //const isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
                const isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                if (isiOS) {
                    this.isok = false

                    console.log("ios");
                } else {
                    this.isok = true
                    console.log("andriod");
                }
            },

            //选择套餐
            orderTab(i) {
                this.comboType = i;
            },
            //选择1l用量
            orderTabYL(i) {
                this.oneLSize = i;
            },
            //选择次数
            orderTabcs(i) {
                this.buyCount = i;
            },
            //选择0.5l用量
            orderTabwL(i) {
                if (this.halfLSize == 0) {
                    this.halfLSize = 1;
                } else {
                    this.halfLSize = 0;
                }

            },
            //选择1l用量
            orderTabYL(i) {
                this.oneLSize = i;
            },
            back() {
                window.androidjs.onCallbackIntent("MainActivity");
            },
            houhui() {
                window.androidjs.onCallbackIntent("Finish");
            },
            tijiao() {
                if (this.comboType == null) {
                    this.$toast.fail("请先选择套餐!");
                    return
                }
                if (this.oneLSize == null) {
                    this.$toast.fail("请先选择用量!");
                    return
                }
                if (this.buyCount == null) {
                    this.$toast.fail("请先选择次数!");
                    return
                }
                var data = {
                    aid: this.list.aid,
                    carNo: this.list.carNo,
                    gid: this.list.gid,
                    comboType: this.comboType,//套餐类别
                    halfLSize: this.halfLSize,//0.5L用量
                    oneLSize: this.oneLSize,//1l用量
                    name: this.list.name,//用户名称
                    buyCount: this.buyCount,//次数
                    phone: this.list.phone,//用户手机
                    activityName: this.list.activityName,
                }
                axios({
                    url: `${baseURL}/vehicle/market/save/jy`,
                    method: 'post',
                    data: data, // query参数
                    headers: {
                        'Authorization': sessionStorage.getItem('h5token')
                    }
                }).then(res => {
                    console.log(res)
                    if (res.data.success == true) {
                        this.blisok = true
                        this.$toast.success("办理成功!");
                    } else {
                        this.$toast.fail(res.data.message)
                    }
                })
            },
            namelist() {

                axios.get(`${baseURL}/vehicle/market/jy/details/new`, {
                    params: {
                        aid:this.list.aid,
                        carNo: this.list.carNo,
                    },
                    headers: {
                        'Authorization': sessionStorage.getItem('h5token')
                    }

                }).then(res => {
                    // console.log(res.data.data)
                    if (res.data.code == 200) {
                        if(res.data.data.comboType == null){
                            console.log('走到了这')
                        }else{
                            this.comboType = res.data.data.comboType
                            this.oneLSize = res.data.data.oneLSize
                            this.halfLSize = res.data.data.halfLSize
                            this.buyCount = res.data.data.buyCount
                            this.blisok =true
                        }
                        // this.list = res.data.data
                    } else {
                        this.$toast(res.data.message)
                    }
                })
            },
        }
    })
</script>

</html>