<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自动接单</title>
    <!-- 公共库 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css">
    <script src="https://cdn.bootcss.com/axios/0.18.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/pinchzoom.js"></script>
    <script src="./js/area.js"></script>
    <link rel="stylesheet" href="css/baseStyle.css" />
    <script src="./js/http.js"></script>
    <script src="./js/api.js"></script>
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
    <link rel="stylesheet" href="css/dispose_enquiry.css">
</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>

<body>
    <div id="app" v-cloak>
        <van-nav-bar @click-left="back" title="自动接单" left-arrow :fixed="true" :z-index="999"></van-nav-bar>
        <van-row style="padding-top:46px;">
            <van-col span="12">订单号: <span style="color: #6A5ACD;">{{ListNow.billNumber}}</span></van-col>
            <van-col span="12">下单时间: <span style="color: #6A5ACD;">{{ListNow.createdTime}}</span></van-col>
        </van-row>
        <van-row>
            <!-- @click="quxiao" -->
            <van-col span="24">修理厂名称: <span style="color: #6A5ACD;">{{ListNow.garageName}}</span>
            </van-col>
        </van-row>
        <!-- 选择 -->
        <div class="xuanzhe">
            <!-- <van-radio-group v-model="radio" direction="horizontal">
                <van-radio name="1" icon-size="16px">图片模式</van-radio>
                <van-radio name="2" icon-size="16px">聊天模式</van-radio>
            </van-radio-group> -->
            <div class="fanzhuan">
                <img class="fanzhuan_a" @click.stop="fan" src="./img/fanzhuan2.png" alt="">
                <img class="fanzhuan_a" @click.stop="zheng" src="./img/fanzhuan.png" alt="">
            </div>
        </div>
        <!-- 图片 -->
        <div class="nei">
            <img class="qie_a" @click.stop="Playjian" src="./img/qiehuan2.png" alt="">
            <img class="qie_b" @click.stop="autoPlay" src="./img/qiehuan.png" alt="">
            <div class="pinch-zoom"><img class="img" v-for="(item, index) in ListNow.picList" v-show="index===mark"
                    :key="index" :style="{transform:'rotateZ('+deg+'deg)',zoom:(zoom+'%')}" :src="item" alt=""></div>

        </div>
        <!-- 批量添加配件 -->
        <div class="pilian">批量添加配件</div>
        <textarea value="" @keyup.space="jiexi" @focus='ios' @blur="jiexi(2)" v-model="textarea" placeholder="请输入内容"
            class="sendmsg" ref="send_msg"></textarea>
        <div class="pei_name"><span style="color: #f56c6c;">请输入配件名称，如有多个配件请用空格隔开，如：</span>大灯 下摆臂 前杠</div>
        <div class="jiexi">
            <div class="left">解析配件共：{{szpeijian.length}}个配件</div>
            <div class="right jjxx" @click="jiexi">解析</div>
        </div>
        <!-- <div class="kuang"> -->
        <van-row class="kuang">
            <van-col span="8" class="ddv" v-for="(item,index) in szpeijian" :key="'item'+index">
                <div class=" cs">{{item.partName}}</div>
            </van-col>
        </van-row>
        <!-- </div> -->
        <div style="height: 60px;"></div>
        <div class="sumit" v-show="isOriginHei">
            <!-- :disabled="disabled" @click="submitForm" -->
            <van-button type="danger" size="small" @click="tijiao">发 布</van-button>
        </div>
        <van-popup v-model="isshow" :close-on-click-overlay="false">
            <div class="chenggong">发布成功！</div>
            <div class="duilei">剩余队列数：<span style="color: red">{{shuliang}}</span></div>
            <div class="xuanzetui">
                <div @click="back" class="tuichu bbt">退出</div>
                <div v-if="shuliang != 0" @click="chuli" class="chuli bbt">处理下一单</div>
            </div>
        </van-popup>
    </div>
</body>
<script>
    $(function () {
        $('.pinch-zoom').each(function () {
            new RTP.PinchZoom($(this), {});
        });
    });
    var vue1 = new Vue({
        el: "#app",
        data() {

            return {
                userInfo: {},//个人地址信息
                list: [
                ],
                isOriginHei: true,
                isshow: false,
                checked: false,
                textarea: '',//批量添加配件
                radio: '1',
                youhui_show: false,
                show: false,
                useScoreTotal: 0,//积分
                expressAmount: 0,//快递费用
                zongjia: 0,
                token: '',
                askPricePartIds: [],
                szpeijian: [],
                ListNow: {},
                shuliang: 0,
                search: '',
                zoom: 100,
                deg: 0,
                mark: 0,
            }
        },
        created() {

            function getSearchString(key, Url) {
                var str = Url;
                str = str.substring(1, str.length); // 获取URL中?之后的字符（去掉第一位的问号）
                // 以&分隔字符串，获得类似name=xiaoli这样的元素数组
                var arr = str.split("&");
                var obj = new Object();
                // 将每一个数组元素以=分隔并赋给obj对象
                for (var i = 0; i < arr.length; i++) {
                    var tmp_arr = arr[i].split("=");
                    obj[decodeURIComponent(tmp_arr[0])] = decodeURIComponent(tmp_arr[1]);
                }
                return obj[key];
            }
            var search = window.location.search;
            this.search = window.location.href
            this.token = getSearchString('token', search); //结果：18
            // localStorage.setItem("token", 'eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxNjI4IiwiZXhwIjoxNTk3NzE2NDc3fQ.izfWQ90UqrXQY9wuCMFhrurtxJhCibtaGxfVB0hPKrdJiIChpAE9CbtAhdFzH7UmpumES9UTiri48VEgUZmXwA')
            localStorage.setItem("token", this.token)

            this.namelist()
        },
        mounted() {
            // window.addEventListener("popstate", function (e) {
            //     // alert("我监听到了浏览器的返回按钮事件啦");
            //     this.quxiao()
            //     // 根据自己的需求实现自己的功能
            // }, false);
        },
        methods: {
            back() {
                this.quxiao()
                window.androidjs.onCallbackIntent("Finish")
            },
            //退出弹窗
            tuichu() {
                this.isshow = false
            },
            //解析配件
            jiexi(row) {
                // console.log('546')
                var _this = this;

                var peijian = this.textarea.trim().split(/\s+/);
                var gid = this.ListNow.gid;
                // console.log(gid);
                var pj = [];
                if (row != 2) {
                    _this.isOriginHei = true;
                    if (peijian == "") {
                        return this.$toast('请先输入配件!');
                    }
                } else {
                    _this.isOriginHei = true;
                    if (peijian == "") {
                        return;
                    }
                }
                peijian.forEach(function (v, index) {
                    pj.push({
                        partName: v,
                        gid: gid,
                        isFactioryPartName: 1,
                        sellPrice: 0,
                        total: 1
                    });
                });
                this.szpeijian = pj;
            },
            ios() {
                this.isOriginHei = false;
            },
            quxiao() {
                // let data = {
                //     oid: 146
                //     // oid: this.ListNow.oid
                // };
                var oid = this.ListNow.oid
                axios.post(`${baseURL}/vehicle/garageAskPrice/change/AskQueue/` + oid,
                ).then(res => {
                    // console.log(res.data.data)
                    if (res.data.code == 200) {
                        console.log(res)
                    } else {
                        this.$toast(res.data.message)
                    }
                })
            },
            //翻转
            fan() {
                this.deg -= 90;
                if (this.deg >= 360) {
                    this.deg = 0
                }
            },
            zheng() {
                this.deg += 90;
                if (this.deg >= 360) {
                    this.deg = 0
                }
            },
            //切换图片
            autoPlay() {
                if (this.mark < ListNow.picList.length - 1) {
                    // console.log('123')
                    this.mark++;
                }
            },
            Playjian() {
                if (this.mark != 0) {
                    this.mark--;
                }
            },
            // imgs(){
            //     $('.pinch-zoom').each(function () {
            //     new RTP.PinchZoom($(this), {});
            // });  
            // },
            chuli() {
                this.textarea = ''
                this.szpeijian = []

                this.namelist()
                this.isshow = false
            },
            namelist() {
                axios.get(`${baseURL}/vehicle/garageAskPrice/handAskInfo`, {
                    params: {},
                })
                    .then(res => {
                        console.log(res)
                        if (res.data.code == 200) {
                            this.ListNow = res.data.data;
                            if (this.ListNow.createdTime) {
                                this.ListNow.createdTime = this.ListNow.createdTime.substr(-14);
                                // this.ListNow.createdTime = this.ListNow.createdTime.substring(0, 11);
                            }
                        } else {
                            this.$toast(res.data.message)
                        }


                    })
            },
            tijiao() {
                var _this = this;
                var shul = this.szpeijian.length;
                console.log(shul - 1);
                if (this.szpeijian.length == 0) {
                    return this.$toast('请先输入配件');
                }
                for (const i in this.szpeijian) {
                    var data = this.szpeijian[i]
                    axios.post(`${baseURL}/vehicle/part/save`, this.szpeijian[i],
                    ).then(e => {
                        if (e.data.code == 200) {
                            let dot = {
                                askPriceId: this.ListNow.askPriceIdList,
                                askPricePartDTO: {
                                    gid: this.ListNow.gid,
                                    partId: e.data.data.id,
                                    price: 0,
                                    partName: e.data.data.partName,
                                    partCount: 1
                                },
                                oid: this.ListNow.oid
                            };

                            axios.post(`${baseURL}/vehicle/supplier/askPrice/saveHandAskPart`, dot,
                            ).then(res => {
                                if (i == shul - 1) {
                                    this.shuliang = res.data.data
                                    this.isshow = true;
                                }
                            });
                        }
                    });
                }

            },
        }
    })
</script>

</html>