<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title></title>
  <!-- 公共库 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.1/lib/index.css">
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vant@2.1/lib/vant.min.js"></script>
  <script type="text/javascript" src="js/jSignature.js"></script>
  <script src="./js/api.js"></script>
  <link rel="stylesheet" href="css/baseStyle.css" />
  <link rel="stylesheet" href="css/style.css" />
  <style>
  </style>
</head>

<body>
  <div id="app" class="abs-0">
    <div class="h-100" v-if="!showDom">
      <div class="h-100 o-y-auto" style="background: #fafafa;padding-bottom:6rem;">
        <van-cell-group>
          <van-cell title="厂名" :value="orderData.garageName" />
        </van-cell-group>
        <van-cell-group>
          <van-cell title="日期" :value="orderData.createdDate" />
        </van-cell-group>
        <van-cell-group>
          <van-cell title="姓名" :value="orderData.customerName" />
        </van-cell-group>
        <van-cell-group>
          <van-cell title="手机号" :value="orderData.phone" />
        </van-cell-group>

        <van-cell-group class="m-t-10 p-10  p-l-5">
          <van-cell title="项目清单"
            style="border-left: 4px solid #2A9F58;margin-left: 5px; height: 30px; line-height: 30px;padding: 0; padding-left: 5px;">
            <em>合计:<span style="color:red;">￥{{proTotal}}</span></em>
          </van-cell>
        </van-cell-group>
        <van-cell-group>
          <van-cell v-for="(item,index) in orderData.orderItemList" :key="index" :title="item.itemName">
            <div>
              <!-- <em>{{item.standPrice}}</em> -->
              <em>￥{{item.standPrice}}</em>
            </div>
          </van-cell>
        </van-cell-group>

        <van-cell-group class="m-t-10 p-10 p-l-5">
          <van-cell title="配件清单"
            style="border-left: 4px solid #2A9F58;margin-left: 5px; height: 30px; line-height: 30px;padding: 0; padding-left: 5px;">
            <em>合计:<span style="color:red;">￥{{pjTotal}}</span></em>
          </van-cell>
        </van-cell-group>
        <van-cell-group>
          <div v-for="(item,index) in orderData.orderItemList" :key="index">
            <van-cell v-for="(item2,index2) in item.orderPartList" :key="index2" :title="item2.itemName">
              <div class="f j-b">
                <em class="w-100">{{item2.partName}}</em>
                <em class="w-100 t-c">{{item2.price}}×{{item2.counts}}</em>
                <em class="w-100 t-r">￥{{item2.price*item2.counts}}</em>
              </div>
            </van-cell>
          </div>
        </van-cell-group>

        </van-cell-group>
      </div>
    </div>

    <van-cell-group v-if="!showDom" class="abs w-100 b-0 l-0 z-999 p-15">
      <van-cell class="f" title="减免" title-style="width:50px;" title-class="f-initial" value-class="f-initial w-100 ">
        <p class="t-r f j-e">项目：<em class="m-lr-5 block">折扣（{{orderData.discountItemRate}}）</em>
          <em class="m-lr-5 block" style="min-width: 30px;">￥{{proTotal-proTotal*orderData.discountItemRate}}</em>
          <em class="m-l-5 block" style="text-decoration:line-through;min-width: 30px;">￥{{proTotal}}</em>
        </p>
        <p class="f j-e t-r">配件：<em class="m-lr-5 block">折扣（{{orderData.discountPartRate}}）</em>
          <em class="m-lr-5 block" style="min-width: 30px;">￥{{pjTotal-pjTotal*orderData.discountPartRate}}</em>
          <em class="m-l-5 block" style="text-decoration:line-through; min-width: 30px;">￥{{pjTotal}}</em>
        </p>
      </van-cell>
      <van-cell value-class="f j-b">
        <p class="t-r">优惠 <em
            style="color:red;">￥{{(proTotal*orderData.discountItemRate)+(pjTotal*orderData.discountPartRate)}}</em></p>
        <p class="t-r">实收 <em
            style="color:red;">￥{{(proTotal-proTotal*orderData.discountItemRate)+pjTotal-pjTotal*orderData.discountPartRate}}</em>
        </p>
      </van-cell>
      <van-cell>
        <p style="text-align: left;">客户签名：</p>
        <p>
          <img :src="orderData.signUrl" style="width: 100%;"/>
        </p>
      </van-cell>
    </van-cell-group>

    <div class="w-100 h-100" id="signature"></div>

    <div v-if="nodata" class="abs w-100 bgfff t-0 b-0 l-0 z-9999 f j-c a-c p-15">
      抱歉，当前页面已过期
    </div>
    <div v-if="loading" class="abs w-100 bgfff t-0 b-0 l-0 z-999 f j-c a-c p-15">
      <van-loading type="spinner" />
    </div>

  </div>
  <style>
  </style>
</body>
<script>
  // //  const baseURL = "http://47.96.248.209:8888"//测试
  //   const baseURL = "http://47.99.212.29:8888"//正式
  var vue1 = new Vue({
    el: "#app",
    data() {
      return {
        gid: "",
        oid: "",
        orderData: {},
        showDom: false,
        successPage: false,
        loading: true,
        nodata: false,

        baseData: "",
        toast: ''
      }
    },
    computed: {
      proTotal() {
        let proTotal = 0;
        if (this.orderData.orderItemList !== undefined && this.orderData.orderItemList !== null && this.orderData.orderItemList.length > 0) {
          this.orderData.orderItemList.map((item) => {
            proTotal += item.standPrice
          })
          return proTotal
        }
      },
      pjTotal() {
        let pjTotal = 0;
        if (this.orderData.orderItemList !== undefined && this.orderData.orderItemList !== null && this.orderData.orderItemList.length > 0) {
          this.orderData.orderItemList.map((item) => {
            if (item.orderPartList !== undefined && item.orderPartList !== null && item.orderPartList.length > 0) {
              item.orderPartList.map((items) => {
                pjTotal += items.price * items.counts
              })
            }

          })
          return pjTotal
        }
      }
    },
    mounted() {

      let _this = this
      this.gid = this.getQueryVariable("gid")
      this.oid = this.getQueryVariable("oid")
      if (!this.gid || !this.oid) {
        this.nodata = true
      }
      $.ajax({
        type: "get",
        contentType: "application/json;charset=UTF-8",
        url: baseURL + "/vehicle/order/getSettlementOrderSigned?gid=" + _this.gid + "&oid=" + _this.oid,
        success: function (result) {
          _this.loading = false
          if (result.code === 200) {
            _this.orderData = result.data
            document.title = result.data.carNo
          } else if (result.code === 10002) {
            _this.successPage = true
          } else {
            //_this.nodata = true
            _this.$toast(result.message);
          }
        },
        error: function (e) { }
      });
    },
    methods: {
      clickBut() {
        $("#signature").jSignature({
          color: "green",
          lineWidth: 5,
          width: "100%",
          height: "100%"
        })
        if (this.showDom) {
          this.showDom = false
        } else {
          this.showDom = true
        }
      },
      reset() {
        $("#signature").jSignature("reset")
      },
      dataURLtoFile(dataurl, filename) {
        var arr = dataurl.split(","),
          mime = arr[0].match(/:(.*?);/)[1],
          bstr = atob(arr[1]),
          n = bstr.length,
          u8arr = new Uint8Array(n);
        while (n--) {
          u8arr[n] = bstr.charCodeAt(n);
        }
        return new File([u8arr], filename, {
          type: mime
        });
      },
      submit() {
        this.toast = this.$toast({
          duration: 0,
          forbidClick: true,
          loadingType: 'spinner',
          message: '签名生成中...'
        });

        let _this = this
        var canvas = $(".jSignature")
        var dataURL = canvas.get(0).toDataURL()
        this.rotateBase64Img(dataURL, 270)
        setTimeout(() => {
          _this.toast.message = "签名上传中..."
          //console.log(this.baseData)
          var file = _this.dataURLtoFile(_this.baseData, "img");
          _this.updata(file)
        }, 300)

      },
      //				旋转base64
      rotateBase64Img(src, edg) {
        let _this = this
        var edgData = ""
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");
        var imgW;//图片宽度
        var imgH;//图片高度
        var size;//canvas初始大小
        if (edg % 90 != 0) {
          console.error("旋转角度必须是90的倍数!");
          throw '旋转角度必须是90的倍数!';
        }
        (edg < 0) && (edg = (edg % 360) + 360)
        const quadrant = (edg / 90) % 4; //旋转象限
        const cutCoor = { sx: 0, sy: 0, ex: 0, ey: 0 }; //裁剪坐标
        var image = new Image();
        image.crossOrigin = "anonymous"
        image.src = src;
        image.onload = function () {
          imgW = image.width;
          imgH = image.height;
          size = imgW > imgH ? imgW : imgH;
          canvas.width = size * 2;
          canvas.height = size * 2;
          switch (quadrant) {
            case 0:
              cutCoor.sx = size;
              cutCoor.sy = size;
              cutCoor.ex = size + imgW;
              cutCoor.ey = size + imgH;
              break;
            case 1:
              cutCoor.sx = size - imgH;
              cutCoor.sy = size;
              cutCoor.ex = size;
              cutCoor.ey = size + imgW;
              break;
            case 2:
              cutCoor.sx = size - imgW;
              cutCoor.sy = size - imgH;
              cutCoor.ex = size;
              cutCoor.ey = size;
              break;
            case 3:
              cutCoor.sx = size;
              cutCoor.sy = size - imgW;
              cutCoor.ex = size + imgH;
              cutCoor.ey = size + imgW;
              break;
          }
          ctx.translate(size, size);
          ctx.rotate(edg * Math.PI / 180);
          ctx.drawImage(image, 0, 0);
          var imgData = ctx.getImageData(cutCoor.sx, cutCoor.sy, cutCoor.ex, cutCoor.ey);
          if (quadrant % 2 == 0) {
            canvas.width = imgW;
            canvas.height = imgH;
          } else {
            canvas.width = imgH;
            canvas.height = imgW;
          }
          ctx.putImageData(imgData, 0, 0);
          _this.baseData = canvas.toDataURL()
        }
      },
      //				获取上传地址
      updata(file) {
        let _this = this
        var formData = new FormData();
        formData.append('file', file);
        $.ajax({
          url: baseURL + '/vehicle/file/uploadPicture',
          type: 'POST',
          cache: false,
          data: formData,
          processData: false,
          contentType: false,
          sync: false,
          success: function (result) {
            if (result.code === 200) {
              _this.submitData(result.data)
            } else {
              _this.toast.clear()
              _this.$toast(result.message);
            }
          },
          error: function (e) {
            _this.toast.clear()
            _this.$toast(e.message);
          }
        })
      },
      submitData(imgurl) {
        let _this = this
        $.ajax({
          type: "post",
          url: baseURL + "/vehicle/order/customerSign",
          contentType: " application/json;charset=utf-8",
          data: JSON.stringify({
            "signUrl": imgurl,
            "oid": _this.oid,
            "gid": _this.gid
          }),
          success: function (result) {
            _this.toast.clear()
            if (result.code === 200) {
              _this.successPage = true
            } else {
              _this.toast.clear()
              _this.$toast(result.message);
            }
          },
          error: function (e) {
            _this.toast.clear()
            _this.$toast(e.message);
          }
        });
      },
      getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split("=");
          if (pair[0] == variable) {
            return pair[1];
          }
        }
        return (false);
      }

    }
  })
  /* 创建签名画布 */
  $(".agree").click(function () {
    $("#signature").jSignature({
      color: "green",
      lineWidth: 3,
      width: "100%",
      height: "100%",
      "background-color": "#ffffff"
    });
  })


</script>

</html>