<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>易车驹</title>
	<!-- 公共库 -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.1/lib/index.css">
	<script src="https://cdn.bootcss.com/axios/0.18.1/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.1/lib/vant.min.js"></script>
	<script src="./js/area.js"></script>
	<link rel="stylesheet" href="css/baseStyle.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>

<body>
	<style>
		.sumit {
			width: 100%;
			padding: 10px;
			position: absolute;
			bottom: 0;
		}
	</style>
	<div id="app">
		<van-nav-bar title="修理门店注册"></van-nav-bar>

		<van-cell-group>
			<van-field v-model="addForm.name" required clearable label="公司名称" placeholder="请输入公司名称"></van-field>
			<van-field v-model="addForm.city" required clearable label="所在地" placeholder="请选择所在地" readonly
				@click="areaStatus = true"></van-field>
			<van-field v-model="addForm.address" required clearable label="公司地址" placeholder="请输入公司地址"></van-field>
			<van-field v-model="addForm.legalPerson" required clearable label="法人名称" placeholder="请输入法人名称"></van-field>
			<van-field type="tel" v-model="addForm.legalPersonPhone" required clearable label="手机号"
				placeholder="请输入手机号"></van-field>
			<div class="van-cell van-cell--required van-field">
				<div class="van-cell__title van-field__label"><span>营业执照</span></div>
				<div class="van-cell__value">
					<div class="van-field__body">
						<van-uploader v-model="business" :max-count="1" :after-read="businessRead" />
					</div>
				</div>
			</div>
			<div class="van-cell van-cell--required van-field">
				<div class="van-cell__title van-field__label"><span>门面照片</span></div>
				<div class="van-cell__value">
					<div class="van-field__body">
						<van-uploader v-model="facade" :max-count="1" :after-read="facadeRead" />
					</div>
				</div>
			</div>
			<!-- 弹出选择地理位置 -->
			<van-popup v-model="areaStatus" position="bottom">
				<van-area value="440000" :area-list="areaList" columns-num="2" v-show="areaStatus"
					@cancel="areaStatus = false" @confirm="areaConfirm"></van-area>
			</van-popup>
			<!-- 弹出选择业务员 -->
			<van-popup v-model="salesman" position="bottom">
				<van-picker show-toolbar :columns="columns" @cancel="onCancel" @confirm="onConfirm" v-show="salesman"
					bind:change="onChange" />
			</van-popup>

			<van-field v-model="salesman.city" required clearable label="业务员" placeholder="请选择" readonly
				@click="salesman = true"></van-field>
		</van-cell-group>

		<div class="sumit">
			<van-button type="primary" size="large" :disabled="disabled" @click="submitForm">提交</van-button>
		</div>

	</div>
</body>
<script>
	const baseURL = "http://47.99.212.29:8888"
	var vue1 = new Vue({
		el: "#app",
		data() {

			return {
				areaStatus: false,//地理位置
				salesman: false,//业务员
				columns: ['杭州', '宁波', '温州', '嘉兴', '湖州'],
				addForm: {
					area: ''
				},
				business: [],
				facade: [],
				disabled: false
			}
		},
		methods: {
			areaConfirm(event) {
				this.addForm.city = `${event[0].name}${event[1].name}`
				this.areaStatus = false
			},
			onConfirm(value, index) {
				console.log((`当前值：${value}, 当前索引：${index}`))
				this.salesman = false
			},
			onCancel() {
				console.log((`取消`))
				this.salesman = false
			},
			businessRead(file) {
				let content = file.file
				let data = new FormData()
				data.append('file', content)
				const loading = this.$toast.loading({
					mask: true,
					duration: 0,
					message: '正在上传图片...'
				})
				axios.post(`${baseURL}/vehicle/file/uploadPicture`, data).then((res) => {
					loading.clear()
					const result = res.data
					if (result.code == 200) {
						this.addForm.businessLicensePic = result.data
					} else {
						return this.$toast(result.message)
					}
				}).catch(err => {
					loading.clear()
					this.$toast('上传失败')
					this.business = []
				})
			},
			facadeRead(file) {
				let content = file.file
				let data = new FormData()
				data.append('file', content)
				const loading = this.$toast.loading({
					mask: true,
					duration: 0,
					message: '正在上传图片...'
				})
				axios.post(`${baseURL}/vehicle/file/uploadPicture`, data).then((res) => {
					loading.clear()
					const result = res.data
					if (result.code == 200) {
						this.addForm.doorPic = result.data
					} else {
						return this.$toast(result.message)
					}
				}).catch(err => {
					loading.clear()
					this.$toast('上传失败')
					this.facade = []
				})
			},
			submitForm() {
				if (!this.addForm.name) return this.$toast('请输入公司名称')
				if (!this.addForm.city) return this.$toast('请选择所在地')
				if (!this.addForm.address) return this.$toast('请输入公司地址')
				if (!this.addForm.legalPerson) return this.$toast('请输入法人名称')
				if (!this.addForm.businessLicensePic) return this.$toast('请上传营业执照')
				if (!this.addForm.doorPic) return this.$toast('请上传门面照片')
				const loading = this.$toast.loading({
					mask: true,
					duration: 0,
					message: '正在提交...'
				})

				axios.post(`${baseURL}/vehicle/garage/regGarage`, this.addForm).then(res => {
					loading.clear()
					const result = res.data
					if (result.code === 200) {
						this.disabled = true
						this.$dialog.alert({
							title: '提示',
							confirmButtonText: '退出',
							message: '您的注册申请已提交成功。我们将在1个工作日内审核，结果将会以短信通知您，敬请关注！'
						}).then(() => {
							WeixinJSBridge.call('closeWindow')
						})
						this.$toast.success('提交成功')
					} else {
						this.$toast(result.message)
					}
				}).catch(err => {
					loading.clear()
					this.$toast(err.response.data.message)
				})
			}
		}
	})
</script>

</html>