<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>易车驹</title>
		<!-- 公共库 -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.1/lib/index.css">
		<script src="https://cdn.bootcss.com/axios/0.18.1/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vant@2.1/lib/vant.min.js"></script>
		<script src="./js/area.js"></script>
		<script src="./js/api.js"></script>
		<link rel="stylesheet" href="css/baseStyle.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<style>
			.sumit{
				width: 100%;
				padding: 10px;
				position: absolute;
				bottom: 0;
			}
		</style>
		<div id="app">
			<van-nav-bar title="配件商注册"></van-nav-bar>
			
			<van-cell-group>
				<van-field
					v-model="addForm.companyName"
					required
					clearable
					label="公司名称"
					placeholder="请输入公司名称"
				></van-field>
				<van-field
					v-model="addForm.city"
					required
					clearable
					label="所在地"
					placeholder="请选择所在地"
					readonly
					@click="areaStatus = true"
				></van-field>
				<van-field
					v-model="addForm.address"
					required
					clearable
					label="公司地址"
					placeholder="请输入公司地址"
				></van-field>
				<van-field
					v-model="addForm.legalPerson"
					required
					clearable
					label="法人名称"
					placeholder="请输入法人名称"
				></van-field>
				<van-field
					type="tel"
					v-model="addForm.phone"
					required
					clearable
					label="手机号"
					placeholder="请输入手机号"
				></van-field>
        <van-field type="textarea" v-model="addForm.businessScope" required clearable label="经营范围" placeholder="请输入经营范围" rows="2" autosize>
        </van-field>
				<div class="van-cell van-field">
					<div class="van-cell__title van-field__label" style="width: 110px;"><span>营业执照(选填)</span></div>
					<div class="van-cell__value">
						<div class="van-field__body"><van-uploader v-model="business" :max-count="1" :after-read="businessRead" /></div>
					</div>
				</div>
				
				<van-popup v-model="areaStatus" position="bottom">
					<van-area value="440000" :area-list="areaList" columns-num="2" v-show="areaStatus" @cancel="areaStatus = false" @confirm="areaConfirm"></van-area>
				</van-popup>
			</van-cell-group>
				
			<div class="sumit">
				<van-button type="primary" size="large" :disabled="disabled" @click="submitForm">提交</van-button>
			</div>
			
		</div>
	</body>
	<script>
	// 	//  const baseURL = "http://47.96.248.209:8888"//测试
    // const baseURL = "http://47.99.212.29:8888"//正式
		var vue1 = new Vue({
			el: "#app",
			data() {
				return {
					areaStatus: false,
					addForm: {
						area: ''
					},
					business: [],
					facade: [],
					disabled: false
				}
			},
			methods: {
				areaConfirm(event) {
					this.addForm.city = `${event[0].name}${event[1].name}`
					this.areaStatus = false
				},
				businessRead(file) {
					let content = file.file
					let data = new FormData()
					data.append('file', content)
					const loading = this.$toast.loading({
						mask: true,
						duration: 0,
						message: '正在上传图片...'
					})
					axios.post(`${baseURL}/vehicle/file/uploadPicture`, data).then((res) => {
						loading.clear()
						const result = res.data
						if(result.code == 200) {
							this.addForm.businessLicensePic = result.data
						}else{
							return this.$toast(result.message)
						}
					}).catch(err => {
						loading.clear()
						this.$toast('上传失败')
						this.business = []
					})
				},
				submitForm() {
					if(!this.addForm.companyName) return this.$toast('请输入公司名称')
					if(!this.addForm.city) return this.$toast('请选择所在地')
					if(!this.addForm.address) return this.$toast('请输入公司地址')
					if(!this.addForm.legalPerson) return this.$toast('请输入法人名称')
					if(!this.addForm.phone) return this.$toast('请输入手机号')
          if(!this.addForm.legalPerson) return this.$toast('请输入经营范围')
					const loading = this.$toast.loading({
						mask: true,
						duration: 0,
						message: '正在提交...'
					})

					axios.post(`${baseURL}/vehicle/system/supplier/save`, this.addForm).then(res => {
						loading.clear()
						const result = res.data
						if (result.code === 200) {
							//this.disabled = true
							this.$dialog.alert({
								title: '提示',
								confirmButtonText: '退出',
								message: '您的注册申请已提交成功。我们将在1个工作日内审核，结果将会以短信通知您，敬请关注！'
							}).then(() => {
								WeixinJSBridge.call('closeWindow')
							})
							this.$toast.success('提交成功')
						} else {
							this.$toast(result.message)
						}
					}).catch(err => {
						loading.clear()
						this.$toast(err.response.data.message)
					})
				}
			}
		})
	</script>
</html>