<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>员工分红</title>
    <!-- 公共库 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.9/lib/index.css">
    <script src="https://cdn.bootcss.com/axios/0.18.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.9/lib/vant.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <!-- <script src="../js/area.js"></script> -->
    <script src="../js/api.js"></script>
    <link rel="stylesheet" href="../css/baseStyle.css" />
    <script src="../js/http.js"></script>
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
</head>
<style>
    [v-cloak] {
        display: none;
    }

    .h1 {
        text-align: center;
        /* font-weight: bold; */
        font-size: 21px;
    }

    .riqi_A {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 9;
        margin-top: 46px;
        padding: 5px 0;
    }

    .tit {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 9;
        margin-top: 84px;
    }

    .riqi {

        background: rgb(229, 246, 247);
        width: 85%;
        margin: auto;
        font-size: 12px;
        line-height: 30px;
        overflow: hidden;
    }

    .ri {
        border: 1px solid #dcdfe6;
        line-height: 20px;
        height: 20px;
        background: #fff;
        padding: 0 30px 0 10px;
        margin-top: 4px;
    }

    .chazao {
        padding: 0 20px;
        background: #0d906e;
        border-radius: 2px;
        height: 24px;
        line-height: 24px;
        margin-top: 3px;
        color: #fff;
    }

    .van-row {
        font-size: 13px;
        text-align: center;
        border: 1px solid #dcdfe6;
        line-height: 30px;
        color: #000;
    }

    .van-col {
        border-right: 1px solid #dcdfe6;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        min-height: 30px
    }

    .van-hairline--bottom::after {
        border-bottom-width: 0;
    }
</style>

<body>
    <!--  -->
    <div id="app" style="background: #ffffff;height: 100%;" v-cloak>
        <van-nav-bar left-arrow @click-left="back" title="员工分红" :fixed="true" :z-index="999">
            <template #right>
                <van-icon @click="shuaxin" name="replay" size="18" />
            </template>
        </van-nav-bar>
        <div class="riqi_A">
            <div class="riqi">
                <div class="left" style="margin:0 10px 0 10px;">日期</div>
                <div class="left ri" @click="toriqi(1)">{{startDate}}</div>
                <span class="left" style="margin:0 4px 0 4px;">至</span>
                <div class="left ri" @click="toriqi(2)">{{endDate}}</div>
                <div class="right chazao" @click="tochazao">查找</div>
            </div>
        </div>
        <div class="tit">
            <van-row>
                <van-col span="2">#</van-col>
                <van-col span="4">员工姓名</van-col>
                <van-col span="3">客户数</van-col>
                <van-col span="4">业绩</van-col>
                <van-col span="4">分红比例</van-col>
                <van-col span="4">分红金额</van-col>
                <van-col span="3"></van-col>
            </van-row>
        </div>
        <div style="overflow: hidden;background: #fff;padding-top:117px">


            <van-list v-model="loading" :finished="finished" :immediate-check="false" finished-text="没有更多了"
                @load="onLoads" :offset="10">
                <van-row style="border-top: none;font-size: 12px;color: #666;" v-for="(item,idx) in list" :key="idx">
                    <van-col span="2">{{idx+1}}</van-col>
                    <van-col span="4">{{item.tokerName}}</van-col>
                    <van-col span="3">{{item.customerCounts}}</van-col>
                    <van-col span="4">{{item.achievement?item.achievement.toFixed(2):''}}</van-col>
                    <van-col span="4">{{item.ratio}}%</van-col>
                    <van-col span="4">{{item.redAmont?item.redAmont.toFixed(2):''}}</van-col>
                    <van-col span="3" style="border-right: none;color: #3ac29f;" @click.native="toxiangqin(item)">详情
                    </van-col>
                </van-row>
            </van-list>
        </div>
        <van-popup v-model="sjshow" position="bottom" :style="{ height: '40%' }">
            <van-datetime-picker @cancel="sjshow = false" @confirm="sjqueren" v-model="currentDate" type="year-month"
                title="选择完整时间" :min-date="minDate" :max-date="maxDate" />
        </van-popup>
    </div>
</body>
<script>
    // // const baseURL = "http://47.96.248.209:8888"//测试
    // const baseURL = "http://47.99.212.29:8888"//正式

    var vue1 = new Vue({
        el: "#app",
        data() {

            return {
                list: [],//
                orderNumber: '',
                sjshow: false,
                minDate: new Date(2020, 0, 1),
                maxDate: new Date(2025, 10, 1),
                currentDate: new Date(),
                active: 1,
                count: '',
                token: '',
                loading: false,
                finished: false,
                total: 0,
                page: 0,
                size: 50,
                endDate: '',
                startDate: '',
                gid: '',
                isok: false,
                systemTime: '',
                // ctoken:'1',
            }
        },
        created() {
            this.appSource()
            function getSearchString(key, Url) {
                var str = Url;
                str = str.substring(1, str.length); // 获取URL中?之后的字符（去掉第一位的问号）
                // 以&分隔字符串，获得类似name=xiaoli这样的元素数组
                var arr = str.split("&");
                var obj = new Object();
                // 将每一个数组元素以=分隔并赋给obj对象
                for (var i = 0; i < arr.length; i++) {
                    var tmp_arr = arr[i].split("=");
                    obj[decodeURIComponent(tmp_arr[0])] = decodeURIComponent(tmp_arr[1]);
                }
                return obj[key];
            }
            var search = window.location.search;
            this.search = window.location.href
            this.gid = getSearchString('gid', search); //结果：18
            //获取安卓token

            // this.token = window.androidjs.getLocalData("getToken");
            this.token = 'eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiIxNjI4IiwiZXhwIjoxNjE4Nzk1OTUxfQ.yPoh3Kcrp6Wg_WSMlqhIYQ_fQBZ6s8dbRCM1ji3NAmeoqUspt7dcPF2Ccp3LJfY2RcHAF1DiurtSeWbJY0Ag9w'
            sessionStorage.setItem('h5token', this.token)
            this.addDate()
            // window.setToken = this.setToken;
            this.namelist()
        },
        mounted() {
            window.addEventListener('pageshow', function () {
                if (this.isPageHide) {
                    // window.location.reload();
                    history.go(0)
                }
            });
            window.addEventListener('pagehide', function () {
                this.isPageHide = true;

            });
            if (sessionStorage.getItem('isok') == null) {
            } else {
                setTimeout(res => {
                    this.namelist()
                }, 500);
                sessionStorage.removeItem('isok');
            }

        },
        methods: {
            appSource() {
                const u = navigator.userAgent, app = navigator.appVersion;
                //const isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
                const isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
                if (isiOS) {
                    this.isok = false

                    console.log("ios");
                } else {
                    this.isok = true
                    console.log("andriod");
                }
            },
            shuaxin() {
                history.go(0)
            },
            // setToken(token) {
            //     this.ctoken = token
            //     //params: 原生调用Vue时传值（params）给Vue
            //     console.log("得到原生传值结果:" + token);
            // },
            back() {
                window.androidjs.onCallbackIntent("MainActivity");
            },
            toxiangqin(item) {
                item.gid = this.gid
                sessionStorage.setItem("yg_item", JSON.stringify(item));
                location.href = "staff_fenhong.html"
            },
            sjqueren(value) {
                let sday = this.formatTime(value, 'yyyy-MM')
                if (this.active == 1) {
                    this.startDate = sday
                } else {
                    this.endDate = sday
                }

                this.sjshow = false
                console.log(sday)
            },
            formatTime: function (date, fmt) {
                var date = new Date(date);
                if (/(y+)/.test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (date.getFullYear() + '').substr(4 - RegExp.$1.length));
                }
                var o = {
                    'M+': date.getMonth() + 1,
                    'd+': date.getDate(),
                    'h+': date.getHours(),
                    'm+': date.getMinutes(),
                    's+': date.getSeconds()
                };
                for (var k in o) {
                    if (new RegExp('(' + k + ')').test(fmt)) {
                        var str = o[k] + '';
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? str : ('00' + str).substr(str.length));
                    }
                }
                return fmt;
            },
            // 当前时间
            addDate() {
                let nowDate = new Date()
                let date = {
                    year: nowDate.getFullYear(),
                    month: nowDate.getMonth() + 1,
                    date: nowDate.getDate()
                }
                if (date.month < 10) {
                    date.month = '0' + date.month
                }
                this.endDate = date.year + '-' + date.month
                this.startDate = date.year + '-' + date.month
            },
            //去修改
            toriqi(item) {
                this.active = item
                this.sjshow = true
            },
            tochazao() {
                this.page = 0;
                this.loading = false
                this.finished = false
                this.list = []
                this.namelist();
            },
            onLoads() {
                this.page++;
                this.namelist();
            },
            namelist() {

                axios.get(`${baseURL}/vehicle/org/red/garage/report`, {
                    params: {
                        endDate: this.endDate + '-31',
                        gid: this.gid,
                        startDate: this.startDate + '-01',
                        page: this.page,
                        size: this.size,
                    },
                    headers: {
                        'Authorization': this.token
                    }

                }).then(res => {
                    if (res.data.code == 200) {
                        if (res.data.data) {
                            let rows = res.data.data.content
                            this.loading = false;
                            this.total = res.data.data.totalElements
                            if (rows == null || rows.length === 0) {
                                // 加载结束
                                this.finished = true;
                                return;
                            }
                            // 将新数据与老数据进行合并
                            this.list = this.list.concat(rows);
                            //如果列表数据条数>=总条数，不再触发滚动加载
                            if (this.list.length >= this.total) {
                                this.finished = true;
                            }
                        } else {
                            this.list = []
                        }
                    } else {
                        this.$toast(res.data.message)
                    }
                })
            },
        }
    })
</script>

</html>